body {
    height: 100%;
    background: rgb(3,138,202);
    background: linear-gradient(180deg, rgba(3,138,202,1) 78%, rgba(0,212,255,1) 100%) no-repeat cover;
}

h1 {
    color: #ffffff;
}

h3 {
    font-size: 3rem;
}

label {
    color: #ffffff;
}

.title,  .loading  {
    text-align: center;
}

.new-form {
    width: 50%;
    margin: 0 auto;
}

.yells, hr, .people {
    width: 50%;
    margin: 0 auto;
}

.people {
    color: #ffffff;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.yells > div {
    background: hsl(0, 0%, 100%);
    padding: 25px;
    border-radius: 4px;
    margin-bottom: 25px;
  }

@media only screen and (max-width: 768px) {
    .yells, hr, .people {
        width: 80%;
        margin: 50px auto;
    }
    .new-form {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 414px) {
    .yells, hr, .people {
        width: 95%;
        margin: 50px auto;
    }
    .new-form {
        width: 95%;
        margin: 0 auto;
    }
}
